# =========================
# 3rdparty
# =========================
3rdparty/
# =========================
# Visual Studio
# =========================
.vs/
Debug/
Release/
x64/
x86/

# =========================
# CMake
# =========================
build/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile

# =========================
# C/C++ 编译中间文件
# =========================
*.obj
*.o
*.pdb
*.ilk
*.exp
*.idb
*.pch
*.tlog

# =========================
# 可执行文件
# =========================
*.exe

# =========================
# Python
# =========================
__pycache__/
*.pyc
.venv/
venv/

# =========================
# 临时文件
# =========================
*.log
*.tmp
*.bak

# =========================
# 权重文件
# =========================
onnx_model/

# =========================
# 没用的文件
# =========================
Use_DLL/